{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="jumbotron">
            <h4 align="middle">Learn new words from your favourite songs using MusixQuiz!</h4>
            <h6 align="middle" >Log into your Quizlet profile and add new words into your learning sets.</h6>
            <form action="" method="post" align ="middle">
                <input type="submit"  class="btn btn-info btn-lg" value="Quizlet Authentication"/>
            </form>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
</div>
{% endblock content %}