{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <div class="jumbotron bg-warning" >
    <h5 align=center > MusixQuiz is the platform where you can fill your Quizlet sets and learn words with favourite songs.</h5>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="jumbotron bg-info" >
                <p align=center> Our platform is powered by Musixmatch providing high-quality access to huge lyrics database.</p>
                <p align=center > This project was developed align Programming Course in Ukrainian Catholic University.</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="jumbotron bg-primary" style="max-height=100px;">
                <h5>Contact us:</h5>
                <p>kolinko@ucu.edu.ua</p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
