{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron" style="position:relative; min-height:450px;">
        <h3 align="middle" >Learn new words from your favourite songs using MusixQuiz!</h3>
        <h5 align="middle" >Log into your Quizlet profile and add new words into your learning sets.</h5>
        <form action="" method="post" style="position:absolute;bottom:0;left:40%;">
            <input type="submit"  class="btn btn-info btn-lg" value="Quizlet Authentication" style="margin-bottom:40px"/>
        </form>
    </div>
{% endblock content %}